variables:
    APT_CACHE_DIR: $CI_PROJECT_DIR/apt
    CARGO_HOME: $CI_PROJECT_DIR/cargo

before_script:
    - 'which ssh-agent || ( apt update -y && apt install openssh-client -y )'
    - 'which rsync || ( apt update -y && apt install -y rsync )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts

build:frontend:
    image: node:12.4.0-stretch
    only:
        - master
    script:
        - cd frontend
        - yarn install
        - yarn build

copy:frontend:
    image: node:12.4.0-stretch
    only:
        - master
    script:
        - rsync -a static/ deploy@new.jjjcaarau.ch:/var/www/jjjcaarau-webpage/static
        - ssh deploy@new.jjjcaarau.ch 'sudo chown -R deploy:www-data /var/www/jjjcaarau-webpage/*'

reload:frontend:
    image: node:12.4.0-stretch
    only:
        - master
    script:
        - ssh deploy@new.jjjcaarau.ch 'sudo systemctl daemon-reload'
        - ssh deploy@new.jjjcaarau.ch 'sudo service jjjcaarau.ch restart'


build:backend:
    image: rustlang/rust:nightly
    script:
        - cd backend
        - cargo build --release

copy:backend:
    image: rustlang/rust:nightly
    script:
        - cd backend
        - rsync -a target/release/jjjcaarau-webpage deploy@new.jjjcaarau.ch:/var/www/jjjcaarau-webpage/
        - ssh deploy@new.jjjcaarau.ch 'sudo chown -R deploy:www-data /var/www/jjjcaarau-webpage/jjjcaarau-webpage'
        - rsync -a migrations deploy@new.jjjcaarau.ch:/var/www/jjjcaarau-webpage/

migrations:backend:
    image: rustlang/rust:nightly
    script:
        - ssh deploy@new.jjjcaarau.ch '/home/deploy/.cargo/bin/diesel migration run --database-url db.sqlite3'

reload:backend:
    image: rustlang/rust:nightly
    script:
        - ssh deploy@new.jjjcaarau.ch 'sudo systemctl daemon-reload'
        - ssh deploy@new.jjjcaarau.ch 'sudo service jjjcaarau.ch restart'

cache:
    paths:
        - apt/
        - cargo/
        - frontend/node_modules/
        - static/
        - backend/target/