#banner {
    width: 100%;
    height: 700px;
    background-image: url(../../img/club.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
}

#dojo-map {
    margin-top: 64px;
    height: 700px;
    width: 100%;
    border: 0;
    background-color: #eee;
}

#dojo-events {
    margin-top: 64px;
    max-height: 500px;
    width: 100%;
    border: 0;
    background-color: #eee;
    overflow: hidden;
}

#dojo-calendar {
    width: 100%;
    height: auto;
    border: 0;
    background-color: #eee;
    overflow: hidden;
}

#fees {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#registration-items {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}