<html>
    <head>
        <style>
@charset "UTF-8";
@font-face {
  font-family: "Source Sans Pro";
  src: url("templates/generic/fonts/SourceSansPro-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("templates/generic/fonts/Pacifico-Regular.ttf") format("ttf");
}
@page {
    margin: 3cm;
    @bottom-left {
        color: #e3000b;
        font-family: Pacifico;
        content: '♥ Thank you!';
    }
    @bottom-right {
        color: #aa99aa;
        content: 'Judo und Ju Jitsu Club Aarau | Delfterstrasse 44 | 5004 Aarau';
        font-size: 9pt;
    }
}

html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
}

html body {
    margin: 0;
}

html #logo {
    height: 1.7cm;
    position: absolute;
    right: 0;
    top: -1cm;
}

html .content {
    margin-top: 6cm;
}

html address {
    font-style: normal;
}

html address#to {
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    top: 3cm;
    left: 0;
}

html #informations {
    text-align: right;
    position: absolute;
    top: 3cm;
    right: 0;
}

html #informations span:nth-of-type(odd) {
    position: absolute;
    right: 3cm;
    color: #aa99aa;
}

html table#positions {
    position: absolute;
    bottom: 6cm;
}

html table {
    border-collapse: collapse;
    width: 100%;
}

html table th {
    border-bottom: .2mm solid #aa99aa;
    color: #aa99aa;
    font-size: 10pt;
    font-weight: 400;
    padding-bottom: .25cm;
    text-transform: uppercase;
}

html table td {
    padding-top: 1mm;
}

html table th:first-of-type,
html table td:first-of-type {
    text-align: left;
}

html table th:last-of-type,
html table td:last-of-type {
    text-align: right;
}

html table#total {
    background: #f6f6f6;
    border-color: #f6f6f6;
    border-style: solid;
    border-width: 0.5cm 5cm;
    bottom: 0;
    font-size: 15pt;
    margin: 0 -5cm;
    position: absolute;
    width: 20cm;
}

html table#total tr td {
    vertical-align: top;
}

html #small-address {
    font-size: 10pt;
    line-height: 1.25rem;
}
        </style>
    </head>
    <body>
        <img id="logo" src="templates/generic/logo.svg" />
        <address id="to">
            {{ data.name }}<br>
            {{ data.address }}<br>
            {{ data.zip_code }} {{ data.city }}
        </address>

        <div id="informations">
            <span>
            Rechnungsdatum
            <br>
            Zahlbar bis
            </span>
            <span>{{ date }}<br>{{ due_date }}
            </span>
        </div>
        
        <div class="content">

            <h3>{{ data.title }}</h3>

            {{ data.text | safe }}

            

        <div>

        <table id="positions">
            <thead>
                <th>Posten</th>
                <th>Betrag</th>
            </thead>
            <tbody>
                {% if data.position1 %}
                <tr>
                    <td>{{ data.position1 }}</td>
                    <td>{{ data.position_amount1 }} CHF</td>
                </tr>
                {% endif %}
                {% if data.position2 %}
                <tr>
                    <td>{{ data.position2 }}</td>
                    <td>{{ data.position_amount2 }} CHF</td>
                </tr>
                {% endif %}
                {% if data.position3 %}
                <tr>
                    <td>{{ data.position3 }}</td>
                    <td>{{ data.position_amount3 }} CHF</td>
                </tr>
                {% endif %}
                {% if data.position4 %}
                <tr>
                    <td>{{ data.position4 }}</td>
                    <td>{{ data.position_amount4 }} CHF</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <table id="total">
            <thead>
                <th>Zahlbar bis</th>
                <th>Kontoinformation</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr>
                <td>{{ due_date }}</td>
                <td>
                    IBAN CH94 0588 1077 2509 6100 0<br>
                    <p id="small-address">
                        Judo und Ju Jitsu Club Aarau<br>
                        Delfterstrasse 44<br>
                        5004 Aarau
                    </p>
                </td>
                <td>
                {{ total }} CHF
                </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>