<html>
    <head>
        <style>
@charset "UTF-8";
@font-face {
  font-family: "Source Sans Pro";
  src: url("templates/generic/fonts/SourceSansPro-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("templates/generic/fonts/Pacifico-Regular.ttf") format("ttf");
}
@page {
    margin: 3cm;
    @bottom-left {
        color: #e3000b;
        font-family: Pacifico;
        content: '♥ Thank you!';
    }
    @bottom-right {
        color: #aa99aa;
        content: 'Judo und Ju Jitsu Club Aarau | Delfterstrasse 44 | 5000 Aarau';
        font-size: 9pt;
    }
}

html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
}

html body {
    margin: 0;
}

html #logo {
    height: 3cm;
    position: absolute;
    right: 0;
    top: -1cm;
}

html address {
    font-style: normal;
    white-space: pre-line;
}

html address#from {
    color: #aa99aa;
}

html address#to {
    margin-top: 1cm;
    text-align: left;
}

html dl {
    text-align: right;
}

html dl dt, html dl dd {
    display: inline;
    margin: 0;
    position: absolute;
    right: 0;
}

html dl dt {
    position: absolute;
    right: 2cm;
    color: #aa99aa;
}


html dl dt::after {
    content: ':';
}

html table {
    border-collapse: collapse;
    width: 100%;
}

html table th {
    border-bottom: .2mm solid #aa99aa;
    color: #aa99aa;
    font-size: 10pt;
    font-weight: 400;
    padding-bottom: .25cm;
    text-transform: uppercase;
}

html table td {
    padding-top: 1mm;
}

html table th:first-of-type, html table td:first-of-type {
    text-align: left;
}

html table th:last-of-type, html table td:last-of-type {
    text-align: right;
}

html table#total {
    background: #f6f6f6;
    border-color: #f6f6f6;
    border-style: solid;
    border-width: 1cm 3cm;
    bottom: 0;
    font-size: 15pt;
    margin: 0 -3cm;
    position: absolute;
    width: 18cm;
}

html table#total tr td {
    vertical-align: top;
}

html #small-address {
    font-size: 10pt;
    line-height: 1.25rem;
}
        </style>
    </head>
    <body>
        <img id="logo" src="templates/generic/logo.svg" />
        <address id="to">
            {{ member.first_name }} {{ member.last_name }}
            {{ member.address }} {{ member.address_no }}
            {{ member.postcode }} {{ member.city }}
        </address>

        <dl id="informations">
            {% if invoice.number > 0 %}
            <dt>{{ invoice.number }}. Mahnung</dt>
            <dd>RE {{ invoice.id }}</dd>
            {% else %}
            <dt>Rechnung</dt>
            <dd>RE {{ invoice.id }}</dd>
            {% endif %}
            <br>
            <dt>Rechnungsdatum</dt>
            <dd>{{ invoice.date }}</dd>
            <br>
            <dt>Zahlbar bis</dt>
            <dd>{{ invoice.due_date }}</dd>
        </dl>

        {% if invoice.number > 0 %}
        <h3>{{ invoice.number }}. Mahnung, RE {{ invoice.id }}</h3>
        {% else %}
        <h3>RE {{ invoice.id }}</h3>
        {% endif %}

        Liebe{% if member.sex == "M" %}r{% endif %} {{ member.first_name }}

        {% if not invoice.paid and invoice.number > 0 %}
        <p>
            Leider ist Dein Mitgliederbeitrag für den JJJCA bisher nicht oder nur teilweise eingegangen.
            Bitte hole dies bis zum unten genannten Datum nach.
        </p>
        {% else %}
        <p>
            Im Namen des JJJAC stelle ich Dir den Mitgliederbeitrag für das Jahr {{ invoice.year }} in Rechnung.
        </p>
        {% endif %}

        <p>
            Ich möchte darauf hinweisen, dass der Beitrag auch dann geschuldet ist, wenn keine Trainings besucht werden. Ein Austritt kann jeweils bis zum 31.12 des Vorjahres schriftlich beim Vorstand eingereicht werden und wird für den Beitrag des Folgejahres berücksichtigt.
        </p>

        <p>
            Bei Fragen erreichst Du mich unter <strong>079 960 71 30</strong> oder <strong>kassier@jjjcaarau.ch</strong>.
        </p>

        <p>
            Liebe Grüsse und viel Spass beim weiteren Trainieren<br>
            Noah (Kassier)
        </p>

        <table>
            <thead>
                <th>Posten</th>
                <th>Betrag</th>
            </thead>
            <tbody>
                <tr>
                    <td>Grundbeitrag</td>
                    <td>{{ invoice.amount_membership }} CHF</td>
                </tr>
                <tr>
                    <td>Pass (einmalig beim Eintritt)</td>
                    <td>{{ invoice.amount_passport }} CHF</td>
                </tr>
                {% if invoice.amount_rebate > 0 or invoice.percentage_rebate > 0 %}
                <tr>
                    <td>{{ invoice.rebate_reason }}</td>
                    <td>
                    {% if invoice.amount_rebate > 0 %}
                        {{ invoice.amount_rebate }} CHF
                    {% elif invoice.percentage_rebate > 0 %}
                        {{ invoice.percentage_rebate }} %
                    {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if invoice.amount_paid > 0 %}
                <tr>
                    <td>Eingegangene Zahlungen</td>
                    <td>
                        {{ invoice.amount_paid }} CHF
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <table id="total">
            <thead>
                <th>Zahlbar bis</th>
                <th>Kontoinformation</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr>
                <td>{{ invoice.due_date }}</td>
                <td>
                    IBAN CH94 0588 1077 2509 6100 0<br>
                    <p id="small-address">
                        Judo und Ju Jitsu Club Aarau<br>
                        Delfterstrasse 44<br>
                        5004 Aarau
                    </p>
                </td>
                <td>
                {{ invoice_total }} CHF
                </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>