Hallo {{ member[0].first_name }}
Es wurde soeben ein neues Passwort für deinen Account auf der Website des JJJCA angefordert.
Falls Du dies nicht warst, melde dies doch bitte bei aktuar@jjjcaarau.ch.
Ansonsten kannst Du Dein Passwort unter folgendem Link zurücksetzen:

{{ recovery_url }}

Liebe Grüsse
Dein Website-Team